* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font: 14px helvetica, arial, clean, sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    padding: 10px;
    padding-left: 0;
    color: #333;
}

p {
    margin: 1em 0;
}

a {
    color: #00a;
}

a:hover {
    color: black;
}

a:visited {
    color: #a0a;
}

table {
    font-size: inherit;
    font: 100%;
}


ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    font-weight: bold;
}

#top {
    width: 100%;
	background-color: #555;
    margin-bottom: 20px;
    border-bottom: solid #333 2px;
}

.site {
  text-align: justify;
  width: 800px;
  margin: 0 auto 0px auto;
  padding-bottom: 20px;
  line-height: 1.3em;
}

.title {
    width: 800px;
	margin: auto;
    padding: 10px;
    padding-left: 0px;
	text-decoration: none;
    text-align: left;
}

.title .menu {
    float: right;
}

.title .menu ul {
    list-style-type: none;
    margin-top: 25px;
}

.title .menu ul li {
    float: left;
    margin-left: 2px;
}

.title .menu ul li a, .title .menu ul li a:hover {
    padding: 10px;
    background-color: #333;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#top .title > a {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
	text-shadow: #333 0px 0px 1px;
    text-decoration: none;
}

.site .meta {
    color: #aaa;
}

/* terminal */

#post {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#post pre.terminal code {
    background-color: #333;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}

#intro {
    display: block;
    margin-bottom: 20px;
    background-color: #CCF;
    padding: 10px;
}

#intro #external-links {
    margin-top: 10px;
}

#intro img.my-pic {
    float: left;
    width: 80px;
    margin-right: 10px;
}

#intro img.github {
    width: 32px;
}

#intro img.twitter {
    width: 32px;
}
