* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font: 14px helvetica, arial, clean, sans-serif;
    text-align: center;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    padding: 10px;
    padding-left: 0;
    color: #333;
}

p {
    margin: 1em 0;
}

a {
    color: #00a;
}

a:hover {
    color: black;
}

a:visited {
    color: #a0a;
}

#top {
    width: 100%;
    background-color: inherit;
    margin-bottom: 5px;
}

.site {
    text-align: left;
    width: 800px;
    margin: 0 auto 0px auto;
    padding-bottom: 20px;
    line-height: 1.3em;
}

.title {
    width: 800px;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

#top .title > a {
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

/* terminal */

#post {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#post pre.terminal code {
    background-color: #333;
}

#left #my-pic {
    float: left;
    width: 120px;
    margin-right: 10px;
}

#left {
    float: left;
    width: 40%;
}

#left p {
    margin: 10px;
}

#left > ul {
    border: dashed #ccc 1px;
    list-style-type: none;
}

#left ul li.profile {
    text-align: center;
    border-top: dashed #ccc 1px;
    border-bottom: dashed #ccc 1px;
    padding: 10px;
}

#left ul li.contributions {
    border-bottom: dashed #ccc 1px;
    padding-bottom: 10px;
}

#left ul a.project {
    font-weight: bold;
}

#left ul li.contributions {
    padding: 10px;
}

#left ul li.contributions ul {
    margin-left: 18px;
    margin-top: 10px;
}

#right {
    float: left;
    margin-left: 10px;
}

#right > ul {
    list-style-type: none;
}

#right ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

#right ul.posts li {
    line-height: 1.75em;
}

#right ul.posts span {
    font-weight: bold;
}
