html, body {
    height: 100%;
}

body {
    color: #777;
    background-color: white;
    font: 16px helvetica, arial, clean, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

p {
    margin: 1em 0;
}

#site {
    padding: 10px;
}

#top {
    margin: 0px;
    width: 100%;
    background-color: #fff;
    border-bottom: solid #777  2px;
    padding-top: 5px;
}

#home {
    width: 800px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}


#meta {
    width: 800px;
    margin: auto;
    position: relative;
}

#meta #pic {
    float: left;
    border-radius: 0px;
    margin-right: 5px;
}

#meta p {
    text-align: left;
    font-size: 1.0em;
    margin: 0;
}

#meta .social {
    float: right;
    width: 155px;
    margin-top: 0px;
    font-size: 2.5em;
    text-align: right;
}

#meta .social a {
    color: #777;
}

#posts, #post {
    width: 800px;
    margin: auto;
    margin-top: 10px;
}

#post {
    text-align: justify;
}

#posts ul {
    margin-left: 15px;
}

figure {
    margin: 0;
    padding: 0;
}


